.scroll_top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	margin-right: 2rem;
	text-shadow: 3px 3px 3px white;
	color: #6eb63e;
	cursor: pointer;
	background-color: white;
	border-radius: 50%;
}
